<div class="ui purple segment text container">
  <form class="ui form usercreate" [ngClass]="{'loading': isLoading}">
    <div class="equal width fields">
      <div class="field">
          <label>Account Name</label>
          <div class="ui labeled input">
              <div class="ui label">
                mitrais\
              </div>
              <input type="text" name="accountName" placeholder="Account Name ...">
          </div>
      </div>
      <div class="field">
          <label>Password</label>
          <input type="password" name="password" placeholder="New Password ...">
        </div>
    </div>
    <div class="equal width fields">
      <div class="field">
        <label>Full Name</label>
        <input type="text" name="fullName" placeholder="Full Name ...">
      </div>
      <div class="field">
          <label>Email</label>
          <input type="text" name="email" placeholder="Email ...">
        </div>
    </div>
    <div class="equal width fields">
      <div class="field">
        <label class="capitalize">Job Family</label>
        <select name="jobfam_id" class="ui dropdown search selection jobfamdropdown">
          <option value="">Select Job Family</option>
          <option *ngFor="let item of jobfamdropdown" value="{{item.value}}">{{item.name}}</option>
        </select>
      </div>
      <div class="field">
        <label class="capitalize">Division</label>
        <select name="division_id" class="ui dropdown disabled search divisiondropdown">
          <option value="">Select Division</option>
          <option *ngFor="let item of divisiondropdown" value="{{item.value}}">{{item.name}}</option>
        </select>
      </div>
      <div class="field">
        <label class="capitalize">Grade</label>
        <select name="grade_id" class="ui dropdown disabled search gradedropdown">
          <option value="">Select Grade</option>
          <option *ngFor="let item of gradedropdown" value="{{item.value}}">{{item.name}}</option>
        </select>
      </div>
    </div>
    <div class="equal width fields">
        <div class="field">
          <label class="capitalize">Role</label>
          <select name="roles" multiple class="ui dropdown multiple search roledropdown">
            <option value="">Select Role</option>
            <option *ngFor="let item of roledropdown" value="{{item.value}}">{{item.name}}</option>
          </select>
        </div>
    </div>
    <button class="ui purple button">
      <i class="icon save"></i>
      Submit
    </button>
    <button class="ui button" [routerLink]="['/users']">
      Back
    </button>
  </form>
</div>
