<div class="ui divider hidden" *ngIf="isVisible"></div>
<div class="ui inverted violet segment borderradiusless no-margin footer" *ngIf="isVisible">
  <div class="ui container">
    <div class="ui four column grid">
        <div class="two column row">
            <div class="column padded">
                Copyright © 2017
                <br>
                <b>PT Mitrais</b>
            </div>
            <div class="column right aligned">
                Version 1.0.0
                <br>
                <b>Wolverine Team</b>
            </div>
        </div>
    </div>
  </div>
</div>
