<div class="ui segment top attached container" [ngClass]="{'loading': isLoading}">
  <div class="ui equal width grid">
    <div class="ui column">
      <h1 class="ui huge header">
          <i class="calendar disabled icon"></i>
          <div class="content">
              {{ currentPeriod?.trainingName }}
              <div class="ui green horizontal label">{{ currentPeriod?.status }}</div>
              <div class="sub header">
                  {{ currentPeriod?.trainingDescription | slice:0:50 }} ...
              </div>
          </div>
      </h1>
    </div>
    <div class="ui column">
        <div class="ui small right aligned header">
            <div class="content">
                <div class="sub header">
                    <b>{{currentPeriod?.trainingStartDate | date: 'MMM d, y'}}</b>
                    -
                    <b>{{currentPeriod?.trainingEndDate | date: 'MMM d, y'}}</b>
                    <!-- <div class="ui label" data-tooltip="Created by" data-inverted="">
                      <i class="add icon"></i> {{ currentPeriod?.createdBy }}
                    </div>
                    <div class="ui label" data-tooltip="Last modified by" data-inverted="">
                      <i class="pencil icon"></i> {{ currentPeriod?.lastModifiedBy }}
                    </div> -->
                </div>
                <div [ngClass]="{'active': isActiveRoute('/periods/detail/'+currentPeriod?.id)}" class="ui tiny icon button" [routerLink]="['/periods/detail', currentPeriod?.id]">
                  <i class="pencil icon"></i>
                </div>
                <div class="ui labeled button" tabindex="0" style="margin-top: .5em">
                  <div class="ui tiny button">
                    <i class="bookmark icon"></i> Schedules
                  </div>
                  <a class="ui basic left pointing label">
                      {{ currentPeriod?.trainingCourses.length }}
                  </a>
                </div>
                <div class="ui labeled button" tabindex="0" style="margin-top: .5em" [routerLink]="['/periods/detail', currentPeriod?.id, 'eligible']">
                  <div class="ui tiny button" [ngClass]="{'active': isActiveRoute('/periods/detail/'+currentPeriod?.id+'/eligible')}">
                    <i class="users icon"></i> Eligible Participants
                  </div>
                  <a class="ui basic left pointing label">
                      {{ currentPeriod?.eligibleList.length }}
                  </a>
                </div>
                  <!-- {{ currentPeriod?.eligibleList.length }} persons -->
            </div>
        </div>
      </div>
  </div>
</div>
<div class="ui violet attached segment container" [ngClass]="{'loading': isLoading}">
    <app-period-update (onUpdatePeriod)="onUpdatePeriod($event)" [currentPeriod]="currentPeriod" *ngIf="isActiveRoute('/periods/detail/'+currentPeriod?.id)"></app-period-update>
    <app-period-eligible (onUpdatePeriod)="onUpdatePeriod($event)" [currentPeriod]="currentPeriod" *ngIf="isActiveRoute('/periods/detail/'+currentPeriod?.id+'/eligible')"></app-period-eligible>
    <app-period-eligible-notin (onUpdatePeriod)="onUpdatePeriod($event)" [currentPeriod]="currentPeriod" *ngIf="isActiveRoute('/periods/detail/'+currentPeriod?.id+'/eligibleadd')"></app-period-eligible-notin>
  </div>
