<div class="ui inverted segment borderradiusless">
  <div class="ui equal width fluid grid" style="height: 100vh">
      <div class="middle aligned row">
          <div class="column"></div>
          <div class="six wide column">
              <div class="ui attached message borderradiusless">
                  <div class="ui large header">
                    <i class="warning circle icon"></i>
                    <div class="content">
                        PAGE NOT FOUND...
                      <div class="sub header">Sorry, the page that you have requested does'nt exist!</div>
                    </div>
                  </div>
              </div>
              <form class="ui form attached padded segment role">
                  <div class="ui center aligned field">
                    <div (click)="toPrev()" class="ui purple button fluid uppercase ki-text">Go Back</div>
                  </div>
              </form>
          </div>
          <div class="column">

          </div>
      </div>
  </div>
</div>
