<h1 class="ui header left aligned">
    <div class="content">
    User
    <div class="sub header">
    User Edit
    </div>
    </div>
</h1>
<div class="ui card">
    <div class="image">
      <img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
    </div>
    <div class="content">
      <a class="header">Mohammad Taufik Andrian</a>
      <div class="meta">
        <span class="date">mitrais/Taufikar</span>
      </div>
      <div class="description" style="margin-bottom: 10px">
          taufikandrian18@gmail.com
      </div>
      <div class="description">
          <label><b>Roles</b></label>
      </div>
      <div class="field">
          <hr />
          <div class="ui selection dropdown multiple" data-tooltip="Edit Roles"> 
              <input type="hidden" name="role">
              <i class="dropdown icon"></i>
              <div class="default text">Roles</div>
              <div class="menu">
                <div class="item" data-value="admin">Admin</div>
                <div class="item" data-value="trainer">Trainer</div>
                <div class="item" data-value="manager">Manager</div>
                <div class="item" data-value="participant">Participant</div>
              </div>
          </div>
          <hr />
      </div>
      <div class="description">
          <label><b>Status</b></label>
      </div>
      <div class="field">
          <div class="ui left floated basic segment">
              <div class="ui fitted toggle checkbox" data-tooltip="Edit Status">
                <input type="checkbox" checked>
                <label>Inactive</label>
              </div>
          </div>
      </div>
    </div>
  </div>
<button class="ui primary button">
    Submit
</button>
<a [routerLink]="['/users/list']"><button class="ui button">
    Back
</button></a>