<div class="ui center aligned large icon header">
  <!-- <i class="users icon"></i> -->
  <div class="content">
      <span class="upppercase">Participants</span>
    <div class="sub header">Manage "Participants" for {{ currentCourse?.trainingCourseName }} in {{ currentPeriod?.trainingName }}</div>
  </div>
</div>
<button class="ui violet button btn-eligibleperiod" [routerLink]="['/periods/course', currentCourse?.id, 'participantadd']">
  <i class="icon add user" ></i>
  Add more Participants
</button>
<div class="ui divider"></div>
<div class="dimmable">
    <div class="ui inverted dimmer">
        <div class="ui loader"></div>
    </div>
  <table class="ui celled table table-eligibleperiod">
      <thead>
          <tr>
              <th class="one wide">
                  <div class="ui fitted checkbox checkallrow">
                      <input type="checkbox" (change)="toogleCheckAll()" />
                      <label></label>
                  </div>
              </th>
              <th class="ten wide" style="text-align: center">Employee Name</th>
              <th class="three wide" style="text-align: center">Stream</th>
              <th class="three wide" style="text-align: center">Status</th>
              <th class="one wide" style="text-align: center">Action</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
              <th class="disabled one wide"></th>
              <th class="ten wide" style="text-align: center">Employee Name</th>
              <th class="three wide" style="text-align: center">Stream</th>
              <th class="three wide" style="text-align: center">Status</th>
              <th class="one wide disabled" style="text-align: center">Action</th>
          </tr>
      </tfoot>
      <tbody>
      </tbody>
  </table>
</div>
