<div class="ui top fixed menu" *ngIf="isVisible && currentUser">
  <div class="item">
    <img class="ui mini image" [src]="assets.logo">
  </div>
  <div class="menu right">
    <div class="item">
      <img class="ui mini circular image" src="https://semantic-ui.com/images/avatar/small/matt.jpg">
      <div class="content" style="padding-left: 1em">
        <div class="ui sub header">{{ currentUser.user_fullname }}</div>
        Logged as {{ currentRoleUser.roles_name }}
        <div [routerLink]="['/role']" class="mini ui compact button">
          Change
        </div>
      </div>
    </div>
    <div (click)="logout()" class="item">
      <div class="mini ui labeled icon purple tiny button">
        <i class="sign out icon"></i>
        Logout
      </div>
    </div>
  </div>
</div>
