<div class="ui top fixed menu" *ngIf="isVisible && currentUser">
  <div class="item">
    <img class="ui mini image" [src]="assets.logo">
  </div>
  <div class="menu right">
    <div class="item">
      <img class="ui mini circular image" src="https://semantic-ui.com/images/avatar/small/matt.jpg">
      <div class="content" style="padding-left: 1em">
        <div class="ui sub header">{{ currentUser.fullName }}</div>
        Logged as {{ currentRoleUser.roleName }}
        <div [routerLink]="['/role']" class="mini ui compact green button">
          Sign as
        </div>
        <div (click)="logout()" class="mini ui compact red button">
          Sign out
        </div>
      </div>
    </div>
  </div>
</div>
